@model Model.EF.DanhMuc
@{
    Layout = null;
}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Danh Mục</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="DanhMucID">Danh Mục ID</label>
                        <input type="text" class="form-control" id="DanhMucID" placeholder="Danh Mục ID" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="TenDanhMuc">Tên Danh Mục</label>
                        <input type="text" class="form-control" id="TenDanhMuc" placeholder="Tên Danh Mục" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
