@model Model.EF.Order

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Products = (List<Model.EF.SanPham>)ViewBag.SanPham;
    var OrderDetail = (List<Model.EF.OrderDetail>)ViewBag.OrderDetail;
}
<h2>Chi tiết sản phẩm</h2>


<table class="table">
    <tr>
        <td>
            Tên sản phẩm
        </td>
        <th>
            Ảnh sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá
        </th>
    </tr>

    @foreach (var item in OrderDetail)
    {
        if (item.OrderID == Model.OrderID)
        {
            foreach (var item2 in Products)
            {
                if (item2.SanPhamID == item.SanPhamID)
                {
                    <tr>
                        <td>
                            @item2.TenSanPham
                        </td>
                        <td>
                            <img src="~/Content/Client/images/@item2.Image" height="150" width="150" />
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.DonGia
                        </td>
                    </tr>
                }
            }
        }
    }


</table>
<span style="float:right;font-size:25px"><b>Thành tiền: @Model.TongTien</b></span>
