
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="content-page">
        <div class="container">
            <div class="shop-banner banner-adv line-scale zoom-image">
                <img src="~/Content/Client/images/page/about.jpg" alt="" />
            </div>
            <!-- ENd Banner -->
            <div class="register-content-box">
                <div class="row">
                    @if (ViewBag.Update != null)
                    {
                    <div class="alert alert-success">@ViewBag.Update</div>
                    }
                    @{ Html.RenderPartial("Login");}
                    @{ Html.RenderPartial("Register");}


                </div>
            </div>
        </div>
    </div>
</div>

