@model ShopFruit.Models.LoginModel
@{ Layout = null; }
<add key="ClientValidationEnabled" value="true">
    <add key="UnobtrusiveJavaScriptEnabled" value="true">
        <div class="col-md-6 col-sm-6 col-ms-12">
            <div class="">
                <div class="form-my-account">
                    @using (Html.BeginForm("Login", "User", FormMethod.Post))
                    {
                        <h2 class="title24 title-form-account">ĐĂNG NHẬP</h2>
                        <p>
                            <label>Email <span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.Gmail, new { @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            <label>Mật khẩu <span class="required">*</span></label>
                            @Html.PasswordFor(model => model.Password, new { @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            <input type="submit" class="register-button" name="Login" value="Login">
                        </p>
                    }
                </div>
            </div>
        </div>
