
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<hr />
<div>
    <p class="alert alert-danger">
       Chưa có kết nối internet, quý khách vui lòng thử lại sau!!!
    </p>
</div>
<hr />
<br />

