@model IEnumerable<Model.EF.SanPham>

<!-- End Header -->
<section id="content">
    <div class="container">
        <div class="shop-banner banner-adv line-scale zoom-image">
            <img src="~/Content/client/images/shop/banner-grid.jpg" alt="" /></a>
        </div>
        <!-- ENd Banner -->
        <div class="content-shop">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside class="sidebar-left sidebar-shop">
                        <!-- End Widget -->
                        <div class="widget widget-category">
                            <h2 class="title18 title-widget font-bold">Product Categories</h2>
                            <ul class="list-none wg-list-cat">
                                @{ Html.RenderAction("Category", "Category");}
                            </ul>
                        </div>
                        <!-- ENd Widget -->
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="main-content-shop">
                        <div class="product-grid-view">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="item-product item-product-grid text-center">
                                            <div class="product-thumb">
                                                <a href="/Product/Detail/@item.SanPhamID" class="product-thumb-link rotate-thumb">
                                                    <img src="~/Content/Client/images/@item.Image" alt="">
                                                    <img src="~/Content/Client/images/@item.Image" alt="">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="/Product/Detail/@item.SanPhamID">@item.TenSanPham</a></h3>
                                                <div class="product-price">
                                                    <ins class="color"><span>@item.PromotionPrice.AsDecimal().ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR"))<small>đ</small></span></ins>
                                                </div>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                                <div class="product-extra-link">
                                                    <a href="/Cart/AddItem?productID=@item.SanPhamID&quantity=1" class="addcart-link">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Shop -->
    </div>
</section>
@section jsSearchLoadMore{

    <script src="~/Content/Client/js/SearchLoadMore.js"></script>
}
<!-- End Content -->
